
.nav.nav-tabs {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    
  }
  
  .nav-link:hover {
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
  }
  
  .nav-link.active {
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  