/* --black: #000000ff;
--oxford-blue: #14213dff;
--orange-web: #fca311ff;
--platinum: #e5e5e5ff;
--white: #ffffffff; */

.contact-form {
  width: 100%;
  margin-top: 20px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 10px;
  overflow: hidden;
  display: block;
  position: relative;
  clear: both;
}

li.half {
  float: left;
  width: 48%;
  margin-left: 2%;
  clear: none;
}

&:first-child {
  margin-left: 0;
}
input[type="text"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #fca311ff;
    border-radius: 5px;
    font-size: 16px;
    color: #e5e5e5ff;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #14213dff;
}

textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #fca311ff;
    border-radius: 5px;
    font-size: 16px;
    color: #e5e5e5ff;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #14213dff
}

.flat-button {
  padding: 8px 10px;
  background: 0 0;
  color: #350ee4;
  letter-spacing: 1px;
  border: 1px solid #fca311ff;
  border-radius: 5px;
  text-decoration: none;
  float: right;
}